* {
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;

}

body::-webkit-scrollbar {
  display: none;
}

.site-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* HEADER & NAV */
header {
  height: 110px;
  max-width: 1280px;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-block: 10px;
  box-shadow: 7px 4px 3px gray;
}

header .site-logo {
  color: black;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 25px;
}

header a {
  text-decoration: none;
  color: #e0dbdb;
  font-weight: 600;
  padding: 5px 10px;
}

nav {
  display: flex;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* HOME PAGE */
.home-container {
  min-height: 350px;
  color: white;
  padding: 45px 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-container h1 {
  font-family: "Luckiest Guy";
  /* font-size: 2.25rem; */
  margin: 1rem 0 0 0;
}

.home-container h2 {
  font-family: "Luckiest Guy";
  font-size: 1.25rem;
  margin-top: 0;
  text-align: center;
}

.home-container span {
  font-family: "Exo 2";
  font-style: italic;
}

.home-container p {
  font-family: "Exo 2";
  font-weight: bold;
}

/*** ABOUT PAGE ***/
.about-page-container {
  min-height: 350px;
  color: white;
  padding: 45px 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-page-content {
  padding-inline: 2rem;
  color: #f3ecec;
  margin-bottom: 55px;
}

.about-page-content h1 {
  line-height: 38px;
  text-align: center;
  font-family: "Luckiest Guy";
  margin: 1rem 0 0 0;
}

.about-page-content p {
  font-family: 'Exo 2', sans-serif;
  text-align: justify;
}

.about-member-container h3 {
  text-decoration: underline;
  text-align: center;
  margin-bottom: 0;
}

.member-card-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 2rem;
  justify-content: center;
}

.band-member-card {
  background-color: #727272;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin: 0.75rem;
}

.band-member-image {
  width: 100%;
  max-width: 200px;
  max-height: 120px;
  border-radius: 50%;
}

.band-member-details {
  margin-top: 10px;
}

.band-member-name {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Luckiest Guy';
  margin: 0.5rem;
}

.band-member-role {
  font-family: 'Exo 2';
  font-size: 1rem;
  color: #000000;
  margin: 0;
}

.band-member-bio {
  font-size: 0.9rem;
}

/* SHOW SCHEDULE */
.show-page-container {
  min-height: 350px;
  color: white;
  padding: 45px 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.show-page-content h1 {
  line-height: 38px;
  text-align: center;
  font-family: "Luckiest Guy";
  margin: 1rem 0 0 0;
}

.show-page-content li {
  margin: 1rem;
}

.show-page-content .ticket-status {
  font-style: italic;
}

.show-page-content .opening-acts span {
  text-decoration: underline;
}

/* FOOTER */
footer {
  background-color: #161616;
  color: #aaaaaa;
  height: 74px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: space-around;
  align-items: center;
  margin-top: auto;
  font-weight: 500;
  padding: 1rem;
}

footer p {
  margin: 0;
}

footer h5 {
  margin: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
